body{
    
    background-color: #f3f4f5(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.header{
    border: 2px solid ;
    background-color:#C2D2D7;
}
.header__menu{
    padding: 20px;
    color:green;
    display: flex;
    justify-content: space-between;
    text-align:center
    ;
}
.header__menu ul{
    display: flex;
}
.header__menu li{
    display: inherit;
}
.header__menu a{
    color: black;
    padding: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none
    
}
.header__menu a:hover{
    background-color:green;
    color: white;
    border-radius: 10px;
    
}
.container{
    width: 1200px;
    margin:0 auto;
    font-family:Georgia, 'Times New Roman', Times, serif ;

}

.banner{
    color: #C2D2D7(12, 9, 238);
    background-color: rgb(255, 255, 255);
}

.banner .banner__hero{
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}
.banner__text hero{
    padding: 80px 0 0 80px;
    font-family: monospace;
    font-size: 18px;
}

.bandeja__box{
    margin: 15px;
    box-shadow: 0px 1px 8px 1px rgb(82, 6, 6);
    border-radius: 10px;
    width: 33%;
}
.bandejapaisa__box img{
    border-radius: 10px;
    align-items: center;
    
}

.title{
    border-left: 6px solid black;
    background-color: #C2D2D7;
    text-align: center;
}

.ingredientes__box img{
    border-radius: 10px;
    justify-content: center;
    border-radius: 10px;
}
.exitobandeja__box img{
    border-radius: 10px;
    justify-content: center;
    border-radius: 10px;
}
.footer{
    color: black;
    background-color: #79C1D8;
}